<mat-toolbar>  
    <mat-toolbar-row>
        <p-dropdown [options]="listings" [(ngModel)]="selectedListing" placeholder="Select a Listing" optionLabel="name" [showClear]="true"></p-dropdown>
        <p-dropdown [options]="cates" [(ngModel)]="selectedCate" placeholder="Select a Category" optionLabel="name" [showClear]="true"></p-dropdown>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <p-dropdown [options]="months" [(ngModel)]="selectedMonth" placeholder="Select a Month" optionLabel="name" [showClear]="true"></p-dropdown>
        <input type="text" pInputText placeholder="Estimated Price" [(ngModel)]="targetPrice">   
<p-dropdown [options]="neighs" [(ngModel)]="selectedNeigh" placeholder="Select a Neighborhood" optionLabel="name" [showClear]="true"></p-dropdown>
<div *ngIf="selectedListing.name && selectedListing.name === 'House'">
<p-dropdown [options]="types" [(ngModel)]="selectedType" placeholder="Select a Type" optionLabel="name" [showClear]="true"></p-dropdown>
</div>

</mat-toolbar-row>
<mat-toolbar-row>

<p-button icon="pi pi-check" label="Search" (click)="handleSearch($event)"></p-button>



</mat-toolbar-row>
</mat-toolbar>

<h1>{{suggestedResult | currency}}</h1>
<div *ngFor="let avgThatYear of avgPerYearArr; let i = index">
<p>{{avgThatYear}}</p>
</div>

<div *ngIf="suggestedResult">
<app-line-chart [priceHistory]="avgPerYearArr" [labels]="labelsOfPriceChart"></app-line-chart>
</div>
